<h1>Listing Students</h1>
<%= link_to 'My Blog', controller: 'students' %>
<%= link_to 'Enter Student', new_student_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Weight</th>
  </tr>
 
  <% @students.each do |student| %>
    <tr>
      <td><%= student.title %></td>
      <td><%= student.text %></td>
      <td><%= student.height %></td>
      <td><%= student.colour %></td>
      <td><%= student.gpa %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
       <td><%= link_to 'Destroy', student_path(student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
